@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fragment Mono Regular";
  src: url("../public/fonts/FragmentMono-Regular.ttf");
}
@font-face {
  font-family: "Nanum Pen Script Regular";
  src: url("../public/fonts/NanumPenScript-Regular.ttf");
}
@font-face {
  font-family: "Niconne Regular";
  src: url("../public/fonts/Niconne-Regular.ttf");
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../public/fonts/Raleway-Regular.ttf");
}
